@tailwind base;
@tailwind components;
@tailwind utilities;

.typewriter-text {
  overflow: hidden; /* Hide overflowing text */
  border-right: 0.15em solid #333; /* Typing cursor */
  white-space: nowrap; /* Prevent line breaks */
  margin: 0;
  font-size: 2em;
  animation: typewriter 3s steps(30) infinite;
}

@keyframes typewriter {
  from {
    width: 0;
  }
  to {
    width: 60%;
  }
}
